/* Manual Override for Active States of CoriButtons */
/* (Overriding bootstrap's default states) */

/* PRIMARY BUTTONS */
/* ######################################################### */
/* Active State */
/* -------------------------------------------------------- */
/* Green / Default */
.btn.cori-btn.btn-primary[class*="bg-corigreen"]:active {
  background-color: #b5c89f !important; /* corigreen-300 */
  border-color: #b5c89f !important;
}

/* Black */
.btn.cori-btn.btn-primary[class*="bg-zinc"]:active {
  background-color: #71717a !important; /* zinc-400 */
  border-color: #71717a !important;
}

/* Red */
.btn.cori-btn.btn-primary[class*="bg-red"]:active {
  background-color: #fca5a5 !important; /* red-300 */
  border-color: #fca5a5 !important;
}
/* -------------------------------------------------------- */

/* Focus State */
/* -------------------------------------------------------- */
/* All Primary Buttons */
.btn.cori-btn.btn-primary:focus {
  background-color: #f4b8d9 !important; /* sakura-500 */
  border-color: #f4b8d9 !important;
  box-shadow: 0 0 0 0.25rem rgba(244, 184, 217, 0.5) !important;
}
/* -------------------------------------------------------- */

/* Disabled State */
/* -------------------------------------------------------- */
/* All Primary Buttons */
.btn.cori-btn.btn-primary:disabled {
  background-color: #a1a1aa !important; /* zinc-400 */
  border-color: #a1a1aa !important;
}
/* -------------------------------------------------------- */
/* ######################################################### */

/* SECONDARY BUTTONS */
/* ######################################################### */
/* Active State */
/* -------------------------------------------------------- */
/* Green / Default */
.btn.cori-btn.btn-outline-primary[class*="border-corigreen"]:active {
  background-color: #b5c89f !important; /* corigreen-300 */
  border-color: #b5c89f !important;
  color: #fafafa !important;
}

/* Black */
.btn.cori-btn.btn-outline-primary[class*="border-zinc"]:active {
  background-color: #71717a !important; /* zinc-400 */
  border-color: #71717a !important;
  color: #fafafa !important;
}

/* Red */
.btn.cori-btn.btn-outline-primary[class*="border-red"]:active {
  background-color: #fca5a5 !important; /* red-300 */
  border-color: #fca5a5 !important;
  color: #fafafa !important;
}
/* -------------------------------------------------------- */

/* Focus State */
/* -------------------------------------------------------- */
/* All Secondary Buttons */
.btn.cori-btn.btn-outline-primary:focus {
  background-color: transparent !important;
  border-color: #f4b8d9 !important; /* sakura-500 */
  box-shadow: 0 0 0 0.25rem rgba(244, 184, 217, 0.5) !important;
  color: #926e82 !important;
}
/* -------------------------------------------------------- */

/* Disabled State */
/* -------------------------------------------------------- */
/* All Secondary Buttons */
.btn.cori-btn.btn-outline-primary:disabled {
  border-color: #a1a1aa !important; /* zinc-500 */
  color: #a1a1aa !important;
}
/* -------------------------------------------------------- */
/* ######################################################### */
